<%- include layouts/header.ejs %>
<div class="page-data">
	<div class="data-btn">
		<button onClick="addCatalogue();">+ Ajouter un catalogue</button>
	</div>
	<div class="data-table">
		<table border="1" cellpadding="7" cellspacing="7">
			<tr>
				<th width="50px">No</th>
				<th>Catalogue</th>
				<th>Code</th>
				<th>Nombre de Produits</th>
				<th width="120px">Action</th>
			</tr>
			<% if(data.length){ for(var i = 0;i < data.length;i++) { %>

			<tr>
				<td><%=(i+1)%></td>
				<td><%=data[i].nomCatalogue%></td>
				<td><%=data[i].codeCatalogue%></td>
				<td><%=data[i].nbProduits %></td>
				<td><a class="a-inside edit"
					href="../catalogue/edit/<%=data[i].idCatalogue%>">Edit</a> <a
					class="a-inside delete"
					href="../catalogue/delete/<%=data[i].idCatalogue%>">Delete</a></td>
			</tr>
			<% } }else{ %>
			<tr>
				<td colspan="5" style="text-alignment:center;">Pas de catalogue</td>
			</tr>
			<% } %>
		</table>
	</div>
</div>

<%- include layouts/footer.ejs %>